<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= (site && site.broker && site.broker.full_name ? site.broker.full_name + ' Real Estate' : 'Real Estate') %> • <%= (page || '').charAt(0).toUpperCase() + (page || '').slice(1) %></title>
    <link rel="stylesheet" href="/templates/proclassic/public/css/style.css" />
    <link rel="stylesheet" href="/templates/proclassic/public/css/navbar.css" />
    <link rel="stylesheet" href="/templates/proclassic/public/css/responsive.css" />
    <link rel="stylesheet" href="/templates/proclassic/public/css/hero.css" />
    <link rel="stylesheet" href="/templates/proclassic/public/css/featured.css" />
  </head>
  <body>
    <div class="pc-shell">
      <%- include('./partials/navbar/navbar.ejs') %>
      <main>
        <%- body %>
      </main>
      <%- include('./partials/footer/footer.ejs') %>
    </div>
    <script src="/templates/proclassic/public/js/hero.js"></script>
  </body>
  </html>


